

<div class="card">

    <h4>Request Vooomer</h4>
    <form #vooomerForm="ngForm" (ngSubmit)="confirmVooomer()">
        <mat-form-field appearance="fill">
            <mat-label>Select Branch</mat-label>
            <mat-select name="locations" [(ngModel)]="locations" multiple required>
                <mat-option *ngFor="let result of results" [value]="result">
                {{result.address}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div class="text-right">
            <button mat-fab color="primary" type="submit" [disabled]="!vooomerForm.valid">
                <i class="fa fa-motorcycle"></i>
            </button>
        </div>
    </form>
    
</div>