<div class="intro">
    <h2 class="form-signin-heading">VOOOM</h2>
    <h3>Forget Password</h3>
    <h4>You will receive a verification code in this Email</h4>
  </div>
<div class="card">
    <form #forgetEmail="ngForm" (ngSubmit)="forgetPassword(forgetEmail.value)">
        <div *ngIf="errors" class="alert alert-danger text-center">
            <h4>{{errors.status}} - {{errors.message}}</h4>
          </div>
        <mat-form-field class="example-full-width">
            <mat-label>Email Address</mat-label>
            <input matInput placeholder="Email Address" type="email" name="email" ngModel autocomplete="off" required>
        </mat-form-field>
        <div class="text-right subBtn">
            <button mat-button type="submit" [disabled]="!forgetEmail.valid">Send</button>
        </div>
    </form>
</div>