<div class="intro">
    <h2 class="form-signin-heading">VOOOM</h2>
    <h3>Reset Password</h3>
  </div>
  
  <div class="card">
  
      <div class="loginForm d-flex justify-content-center align-items-center">
  
        <form class="form-signin" #myRest="ngForm" (ngSubmit)="resetPassword(myRest.value)">
  
            <div *ngIf="errors" class="alert alert-danger text-center">
              <h4>{{errors.status}} - {{errors.message}}</h4>
            </div>
  
          <!-- Email Field -->
            <mat-form-field class="example-full-width">
              <mat-label>Email Address</mat-label>
              <input matInput placeholder="Email Address" type="email" name="email" ngModel autocomplete="off" required>
            </mat-form-field>
  
  
            <!-- Password Field -->
            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Password" type="password" name="password" ngModel required>
            </mat-form-field>
  
            <!-- Code Field -->
            <mat-form-field class="example-full-width">
                <mat-label>Verification Code</mat-label>
                <input matInput placeholder="Verification Code" type="text" name="verificationCode" ngModel required>
              </mat-form-field>


            <div class="text-right subBtn">
              <button mat-button type="submit" [disabled]="!myRest.valid">Reset</button>
            </div>
  
        </form>
  
    </div>
  
  </div>